@model EventOrg2027.Models.TipoEventos

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>.</h3>
<div>
    <h3>Tipos de Eventos</h3>
    <h5>Tem a certeza que quer apagar este Tipo de Eventos?</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome do Tipo de Eventos
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeTipoEventos)
        </dd>
        <div class="form-group">
            <form asp-action="Delete">
                <input type="hidden" asp-for="TipoEventosId" />
                <input type="submit" value="Apagar" class="btn btn-danger" />
                <p></p>
                <p><a asp-action="Index" class="btn btn-dark">Voltar</a></p>
            </form>
        </div>
    </dl>


</div>
