@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="mx-auto my-0 text-uppercase">Organização de Eventos 2027</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Organização de Eventos Musicais e de Teatro.</h2>
        <a class="btn btn-primary js-scroll-trigger">Eventos</a>
    </div>
