@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>
        Este projeto vai ser desenvolvido na cadeira de Programação para a Internet, no Instituto Politécnico da Guarda, pelos
        alunos João Aires e Marcelo Lopes.
        O mesmo vai ter o propósito de organizar eventos de música, teatro e cinema, onde será possível a sua visualização e
        com o devido registo na nossa aplicação vai ser possível ao utilizador reservar lugar para esses, uma vez que devido ao Covid-19, os estabelecimentos fechados têm limites de pessoas, e pretendemos facilitar a gestão desses lugares.

    </p>
    <a class="btn btn-primary js-scroll-trigger" href="Index">Voltar</a>
</div>
