@model EventOrg2027.Models.Eventos

@{
    ViewData["Title"] = "Create";
}



<h1>Create</h1>

<h4>.</h4>

<div>
    <h3>Criar Evento</h3>
    <hr />
    <div class="row">

        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NomeEventos" class="control-label">Nome do Evento</label>
                    <input asp-for="NomeEventos" class="form-control" />
                    <span asp-validation-for="NomeEventos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label">Descrição</label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Lotacao" class="control-label">Lotação</label>
                    <input asp-for="Lotacao" class="form-control" />
                    <span asp-validation-for="Lotacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataRealizacao" class="control-label">Data de Realização</label>
                    <input asp-for="DataRealizacao" class="form-control" />
                    <span asp-validation-for="DataRealizacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HoraRealizacao" class="control-label">Hora de Realização</label>
                    <input asp-for="HoraRealizacao" class="form-control" />
                    <span asp-validation-for="HoraRealizacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LocalidadeId" class="control-label">Localidade</label>
                    <select asp-for="LocalidadeId" class="form-control" asp-items="ViewBag.LocalidadeId">
                        <option value="">-- Localidade --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="TipoEventosId" class="control-label">Tipo de Evento</label>
                    <select asp-for="TipoEventosId" class="form-control" asp-items="ViewBag.TipoEventosId">
                        <option value="">-- Tipo de Evento --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="OrganizadorId" class="control-label">Organizador</label>
                    <select asp-for="OrganizadorId" class="form-control" asp-items="ViewBag.OrganizadorId">
                        <option value="">-- Organizador --</option>
                    </select>
                </div> 
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                    <p></p>
                    <p><a asp-action="Index" class="btn btn-dark">Voltar para a lista</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
