@model EventOrg2027.Models.Eventos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Eventos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventosId" />
            <div class="form-group">
                <label asp-for="NomeEventos" class="control-label"></label>
                <input asp-for="NomeEventos" class="form-control" />
                <span asp-validation-for="NomeEventos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lotacao" class="control-label"></label>
                <input asp-for="Lotacao" class="form-control" />
                <span asp-validation-for="Lotacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRealizacao" class="control-label"></label>
                <input asp-for="DataRealizacao" class="form-control" />
                <span asp-validation-for="DataRealizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraRealizacao" class="control-label"></label>
                <input asp-for="HoraRealizacao" class="form-control" />
                <span asp-validation-for="HoraRealizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalidadeId" class="control-label"></label>
                <select asp-for="LocalidadeId" class="form-control" asp-items="ViewBag.LocalidadeId"></select>
                <span asp-validation-for="LocalidadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEventosId" class="control-label"></label>
                <select asp-for="TipoEventosId" class="form-control" asp-items="ViewBag.TipoEventosId"></select>
                <span asp-validation-for="TipoEventosId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizadorId" class="control-label"></label>
                <select asp-for="OrganizadorId" class="form-control" asp-items="ViewBag.OrganizadorId"></select>
                <span asp-validation-for="OrganizadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
