
@{
    ViewData["Title"] = "ViewSUCESSO";
}
<div class="masthead2 text-center" style="margin-top:100px">
    <h1>SUCESSO</h1>
    <h4 style="color:black;">@ViewBag.Message</h4>
    <a asp-action="Index" class="btn btn-dark" style="margin-top:20px">Voltar</a>
</div>
