@model EventOrg2027.Models.Localidade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>.</h4>
<div>
    <h3>Localidade</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome da Localidade
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeLocalidade)
        </dd>
        <dt class="col-sm-2">
            Descrição
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            População
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Populacao)
        </dd>
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.LocalidadeId" class="btn btn-primary">Editar</a>
            <p></p>
            <p><a asp-action="Index" class="btn btn-dark">Voltar</a></p>
        </div>
    </dl>
    
</div>

