@model EventOrg2027.Models.Localidade

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>.</h4>
<div>
    <h3>Localidade</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="LocalidadeId" />
                <div class="form-group">
                    <label asp-for="NomeLocalidade" class="control-label">Nome da Localidade</label>
                    <input asp-for="NomeLocalidade" class="form-control" />
                    <span asp-validation-for="NomeLocalidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label">Descrição</label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Populacao" class="control-label">População</label>
                    <input asp-for="Populacao" class="form-control" />
                    <span asp-validation-for="Populacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guarda" class="btn btn-primary" />
                    <p></p>
                    <p><a asp-action="Index" class="btn btn-dark">Voltar</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
@Html.Raw(TempData["SuccessEdit"])
